{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card p-4">
      <h4 class="mb-3">Вход в систему</h4>
      <form method="post" action="{{ url_for('login') }}">
        <div class="mb-3">
          <label class="form-label">Имя пользователя</label>
          <input class="form-control" name="username" autocomplete="username" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Пароль</label>
          <input class="form-control" type="password" name="password" autocomplete="current-password" required>
        </div>
        <button class="btn btn-primary">Войти</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

